[2017-10-25 15:13] todo[bot] opened #1 "Make the log cap length configurable"
https://github.com/probot/webhooks/blob/666e86fede9b0635fbe3a1e067cdea3ff584e98d/lib/logEvent.js#L26-L31

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `@todo` comment in 666e86fede9b0635fbe3a1e067cdea3ff584e98d. It's been assigned to @JasonEtco because they committed the code.

[2017-10-30 02:58] bkeepers opened #2 "Button to copy webhook payload"
It's common to want to copy the webhook payload, especially for saving test cases. I'd love a "copy" button that saves the payload to my clipboard.

[2017-10-30 02:59] bkeepers opened #3 "Show newest deliveries first"
It looks like new deliveries are appended to the end of the list. What do you think about showing newest deliveries first?

[2017-10-30 02:59] JasonEtco commented on #3
I was 150% sure you were going to mention this, and I 200% agree. I have some other local changes I'm working on, that's next on the list.

[2017-10-30 03:00] bkeepers opened #4 "Filter by any payload property"
I'd love to be able to filter by things like `repository.owner:probot` or `issue.number:5`

[2017-10-30 03:00] JasonEtco commented on #2
I had the same thought! I agree, it'll be really useful.

[2017-10-30 03:01] JasonEtco commented on #4
I was thinking of implementing a GitHub-esque search filter, but that could get really difficult and cumbersome. I'd play around with having a number of inputs for the different properties. I **definitely** want search-by-repo, and I can see use-cases for better filtering for sure.

[2017-10-30 03:02] bkeepers opened #5 "Redeliver"
I know this is already on your list, but a button to redeliver a specific payload would be ✨

[2017-10-30 03:04] JasonEtco commented on #5
Totally. The problem though is that since `webhooks` is, for all intents and purposes, a separate app, it can only redeliver to itself (which isn't very useful). As far as I know, the root `probot.receive()` that sends to all `robot`s isn't exposed anywhere, and we don't *yet* have a way to communicate between robots.

[2017-10-30 03:05] JasonEtco commented on #5
I suppose it could POST the payload to its own `WEBHOOK_PATH` endpoint, but that could get messy with all the headers and things it expects...

[2017-12-06 03:16] JasonEtco commented on #4
closed by #6

[2017-12-06 03:16] #4 closed

[2017-12-06 03:16] JasonEtco commented on #3
closed by #6

[2017-12-06 03:16] #3 closed

[2017-12-06 03:37] #2 closed

[2017-12-07 15:06] bkeepers opened #10 "301 redirect for new channels"
`EventSource` will automatically reconnect if it's given a `301` redirect. Right now the server is returning a 302 on `GET /`. If this was a 301, then clients could just use the raw server URL to automatically be given a new proxy URL.

Also, I think we'll want to move the redirect behavior to `/new` and make `/` a fancy splash page that explains what this thing is.

cc #9

[2017-12-07 22:39] JasonEtco commented on #5
This works 🎉

[2017-12-07 22:39] #5 closed

[2017-12-07 22:40] JasonEtco commented on #1
No longer relevant. Thanks todo[bot], we ❤️ you!

[2017-12-07 22:40] #1 closed

[2017-12-07 22:43] JasonEtco opened #12 "Google Analytics"
We should have it 💃 📊 📈

Just making a note here for when we have a domain.

[2017-12-08 23:04] #10 closed

[2017-12-10 01:07] JasonEtco opened #19 "Add a README for the CLI"
Especially for the [npm page](https://www.npmjs.com/package/smee-cli), it be great to have a quick README that says what it does, why you'd use it, and the various options.

cc @bkeepers - I'll do it if you don't, but you're welcome to 👍

[2017-12-20 15:29] bkeepers opened #27 "Authenticated channels"
Even though channel names are random, it seems a little sketchy to broadcast events to any client that can guess a URL. It'd be great to have authenticated channels that prevent random clients from eavesdropping.

Here are a couple options for how it could work:

1. Pass the webhook secret in the `Authorization` header when the client connects. Before webhooks are delivered to a client, use the se

[2017-12-20 15:43] tcbyrd commented on #27
I like this option because it also means we can more securely persist payloads from private repos. Right now, if you guessed a channel name and somebody was testing a private repo, you'd see all that data in the clear. I feel like we can't add persistent channels until we have a way to protect them somehow. OAuth solves that.

[2018-01-12 02:04] #19 closed

[2018-01-18 15:28] #12 closed

[2018-01-29 16:23] zeke opened #36 "CLI option -s does not exist"
The https://smee.io website currently says to run this:

[code]

But there is no `-s` option. I think it was probably changed to `-u`.

[2018-01-29 16:27] #36 closed

[2018-01-29 17:35] zeke opened #38 "Error: connect ECONNREFUSED 127.0.0.1:3000"
Here's my URL: https://smee.io/AZ0KUUSusyualwme

Events are trickling into the browser just fine, but events cause the CLI to spit out this error:

[code]

[code]

[2018-01-30 16:17] zeke opened #39 "Persist deliveries across page loads"
I was bummed to see my events disappear when I refreshed the page in my browser. Can we store them in localStorage or something?

[2018-01-30 16:19] JasonEtco commented on #39
Sure! Do you want to PR that?

[2018-01-30 17:25] zeke commented on #39
To play devil's advocate: adding this feature will make it easier to put off writing tests, which we want to discourage.

I might not be able to get to this right away, but the next time I use smee I may take a shot at it.

[2018-01-30 17:32] JasonEtco commented on #39
Ok no worries, I'll take it 👍 And I'm not worried about putting off writing tests, but we can always tweak some messaging to reflect the need for tests.

[2018-01-31 01:48] #39 closed

[2018-03-15 05:24] JasonEtco opened #42 ""Clear logs" button"
It'd be nice to have a button to clear old logs - this would simply empty `localStorage`, where logs are currently being persisted. Often I'll come back to the same channel days later, and get a little jarred when I see a bunch of old, now irrelevant, logs.

[2018-03-16 00:07] JasonEtco opened #43 "Validate URL, report correct error"
I had the following set in my `.env`:

[code]

It took me a while to find the problem, but there's only one `/` in `https://`. This resulted in a stream of errors from Probot, spamming my terminal as it tried to reconnect:

[code]

![image](https://user-images.githubusercontent.com/10660468/36518475-8b1b1eea-1754-11e8-9c57-ca7192e21c54.png)

This should be caught earlier by the `smee-client`.

Ori

[2018-03-24 18:32] knrt10 commented on #27
@bkeepers I also like this option. Can i work on this issue?

[2018-03-25 08:29] knrt10 commented on #27
@tcbyrd @bkeepers I am working on this issue but on running locally when I am trying to make changes in `serve/components/Blank.js` or any other file in `src/components` folder it is not reflecting in my localhost. I was adding OAuth but not able to proceed due to this error. Please help?

Thanks is advance.

[2018-03-25 09:49] knrt10 commented on #43
@JasonEtco I am working on this issue but on running locally when I am trying to make changes in serve/components/Blank.js it is not reflecting in my localhost. I was verifying URL but not able to proceed due to this error. Please help?

[2018-03-25 17:36] JasonEtco commented on #43
@knrt10 this logic should be implemented in the `client` package, not the `server`. Your work should be contained within the `client` directory of this repository, so you shouldn't need to change with the front-end React components.

[2018-03-25 17:38] knrt10 commented on #43
@JasonEtco thanks for info will do according that.

[2018-03-25 17:44] knrt10 commented on #43
@JasonEtco Is there any way that while running smee on localhost I can receive webhooks?

[2018-03-25 17:51] JasonEtco commented on #43
@knrt10 you can use [localtunnel.me](https://localtunnel.me), but because this error should appear when the Smee starts (not when it receives webhooks), this shouldn't be necessary.

[2018-03-25 17:52] knrt10 commented on #43
Ok. Thanks for info. Let me try and implement that.

[2018-03-25 18:26] knrt10 commented on #43
@JasonEtco Please check my PR. Thanks in advance.

[2018-03-25 20:58] knrt10 commented on #27
@bkeepers @JasonEtco @tcbyrd Please review my PR.
Thanks in advance.

[2018-03-26 10:29] knrt10 commented on #27
What I get from this is that:
1.) Whenever a person makes a post request to `:/channel` then along with that we should set `Authorization` header and send some secret along with them.
2.) On making a get request we should check that secret with user's secret and then deliver them payload.

Am I right?
**cc** @bkeepers  @tcbyrd

[2018-03-26 13:03] knrt10 commented on #27
How to get client's secret in server side to code? I want to pass it in authorization header. Please help.

[2018-03-26 21:39] tcbyrd commented on #27
@knrt10 The general way that's handled is to use query parameters in the URL, then have the server parse that. An example that may help is in [probot/invite](https://github.com/probot/invite/blob/master/lib/oauth.js):

https://github.com/probot/invite/blob/07f0e1a9a17253801def6d1a9dba20865b9591db/lib/oauth.js#L7-L19

Thanks for working on a PR for this! I'll try and find some time this week to rev

[2018-03-27 01:22] knrt10 commented on #27
@tcbyrd Thanks will look into that and try implementing it.

[2018-03-27 02:22] knrt10 commented on #27
@tcbyrd I tried to implement this part but faced with 2 problems
Here is my code
[code]

I am sending clientsecret in the header of URL.

**Problem I am facing is** :
For testing how to get this secret in header?

When there is get request in `/:channel`

I tried this code

[code]

**Again the problem is** in getting secret from URL. I am manually inputing in header and getting **URLsecret** but f

[2018-03-27 17:34] knrt10 commented on #27
@tcbyrd I got the above part but what I am asking is that how would I get secret from client's `.env` file? Then send it to server so that further authentication can be done.

1 way is that I write code in `smee/client` to get value from `.env` and then send it to URL. Is my approach correct.
Please suggest if you have any other thought in mind.

[2018-03-27 20:41] knrt10 commented on #27
@tcbyrd I applied some changes would you want me to open a PR?

[2018-03-30 16:57] knrt10 commented on #27
@bkeepers @tcbyrd . I added github authentication when one creates a new channel. Please review changes. Thanks in advance.

[2018-03-30 21:21] knrt10 commented on #27
Please review these additional features.

**Added Functionality**

To avoid eavesdropping of payloads `smee.io` will require `Github's` authentication.

1) User will only need once to login with their Github account and authorize the app.
2) User can create as many channels they want to which they have only access to.
3) User cannot access channels until and unless they are logged from Github.

**

[2018-04-04 21:27] #42 closed

[2018-04-14 03:27] #38 closed

[2018-04-15 03:35] knrt10 commented on #43
@JasonEtco please close this.

[2018-04-15 03:36] #43 closed

[2018-05-07 03:43] Schachte opened #50 "POST to Smee server fails to authenticate because of mismatched headers"
I have smee-client running locally and see that web-hooks are being triggered back to my bot locally, however, all requests are throwing 400's.

[code]
I verified the secret in the .env matches the app secret, but still no luck. Where can I get the correct header information to get this request to go through?

[2018-05-07 03:56] Schachte commented on #50
I dove a bit more into https://developer.github.com/webhooks/securing/. Looks like I could just throw the desired payload data in as the string with my token as the secret and the hash validates as the X-Hub-Signature. Events were pulled off the docs. Not sure if the GUID matters in thie case?

I used this hashing algorithm tool:
https://www.freeformatter.com/hmac-generator.html#ad-output

[2018-05-07 03:56] #50 closed

[2018-05-07 04:51] Schachte opened #51 "Continuous socket hang-up when posting requests"
@bkeepers Having some issues with smee and simulating webhooks.

I'm grabbing the payload data from the app settings page with the correct headers and payload and issuing a post through Postman.

When I issue a request locally through smee, I get a socket hang-up error.

I can reissue the requests from GitHub and it seems to hit my localserver correctly, otherwise, no dice in something like Postma

[2018-05-09 14:56] bkeepers commented on #51
@Schachte can you share a curl request that Postman is making that causes the error?

[2018-05-11 05:08] Schachte commented on #51
@bkeepers I ended up switching over to execution via the GitHub settings page to re-execute. Playing around a bit more, once I got an official request made, re-creating the request in the smee web-client seems to be working as expected. Thanks!

[2018-05-11 05:08] #51 closed

[2018-05-11 05:12] Schachte opened #52 "Post requests executing twice when creating an issue with a milestone?"
Unsure if related to Smee directly or something strange with Probot. I'm noticing when I create an issue _with_ an attached milestone, I'm getting two POST requests executing, instead of one. This _only_ happens when I attach a milestone to an issue.

### Reproduce:

1) Trigger function call on issue.created event by creating a GH issue and attaching a milestone
2) Check logs for double POST reque

[2018-05-14 15:29] JasonEtco opened #53 "Add "pinned" events"
I had an idea: imagine if you could "pin" an event so that it'd always stay at the top of the page. This can be useful for replaying the same event, and for hitting the `Clear deliveries` button (pinned events would not be removed).

Would this be useful? It wouldn't be too hard to implement, it would be entirely client-side (and would persist via local storage, probably just an array of event ids

[2018-05-15 02:58] hiimbex commented on #53
Yes! I always said the in advanced deliveries on GitHub there should be sorting/pinning/searching options, so makes sense for smee

[2018-05-16 04:17] JasonEtco opened #56 "Refresh "time-since" on an interval"
When a delivery sits around in the UI for awhile without being expanded, the `time-ago` gets stale and doesn't update. You can end up with payloads that look like this, until the bottom one is expanded and the component re-renders:

<img width="698" alt="image" src="https://user-images.githubusercontent.com/10660468/40096279-2ab5e96e-589e-11e8-903c-f48ed2d9f681.png">

I'd like to set a timer (`set

[2018-05-16 14:07] #53 closed

[2018-05-30 02:58] knrt10 commented on #27
Yes still relevant

[2018-06-13 07:02] manusrivastav commented on #38
START server
cannot call  http://localhost:3000 0 5 { Error: connect ECONNREFUSED 127.0.0.1:3000
    at Object.exports._errnoException (util.js:1026:11)
    at exports._exceptionWithHostPort (util.js:1049:20)
    at TCPConnectWrap.afterConnect [as oncomplete] (net.js:1085:14)
  code: 'ECONNREFUSED',
  errno: 'ECONNREFUSED',
  syscall: 'connect',
  address: '127.0.0.1',
  port: 3000 }

[2018-06-23 04:20] hashtagchris commented on #38
@manusrivastav Do you have any processes listening on port 3000? If you're using a different port you can use the `-p` option to customize the port.

[2018-06-23 05:15] hashtagchris opened #60 "smee.io host header incompatible with local site"
My local sites rely on host headers for reverse proxying. When the request is sent to my target, the host header is set to `smee.io` instead of target's hostname, resulting in a 404 or 503 Bad Gateway. Example:

[code]
Error output includes:

[code]

Adding `delete data.host` in `onmessage` resolves the issue in my environment.

[2018-06-28 18:27] bkeepers opened #62 "Copy as curl"
Suggested by @johnkpaul & @gautam, it'd be really awesome if Smee included a `Copy as Curl` button that allows you reply the request locally.  ➰📃

[2018-06-29 23:22] ani6gup opened #63 "Bad Request Error"
👋 Hi! I was working with @hiimbex on building a GitHub app for the first time using Probot. We ended up coming across this error.

Creating a new smee channel ended up solving the error but wanted to put this up to see what happened.

[code]

[2018-06-30 04:06] JasonEtco commented on #63
Hm weird 🤔 We don't have any logging set up for Smee (we really should) so unfortunately I can't take a look there.

I haven't seen this error before and it doesn't seem to include any useful information. Taking a look at Heroku it says that there have been a few "critical" errors in the last 24 hours, but since we don't have log storage/management I can't dig in any further.

I'm going to close t

[2018-06-30 04:06] #63 closed

[2018-06-30 04:08] JasonEtco opened #64 "Log storage/management"
Smee is great, people like it a lot and for the most part it works like a charm - but every once in a while (#63) something happens and we don't know why. Wouldn't it be great if we had log storage/management?

@bkeepers - is this something that we can add on to a Loggly account (or get a new one)? I would love to improve Smee's deployment setup, since it seems to be gaining more and more populari

[2018-06-30 04:23] JasonEtco opened #65 "Persistence"
What if Smee could persist data? Wouldn't it be great if channels could be reused while keeping the same payload history across devices and teams? I think so!

I'd like to explore using Redis as a short-term storage solution for Smee. This is how I'm thinking it should work:

* Payloads have a maximum lifespan of 1 week (open to thoughts on this, just gettin' the ball rolling with a number)
* Redi

[2018-07-05 22:29] tcbyrd commented on #64
Loggly aggregates everything by account, so we'd either have to setup a new account for smee or add it to the existing account and configure a [source group](https://www.loggly.com/docs/source-groups/) (if it's a paid plan). It looks like we can easily group logs by the Heroku App name if we want to go that route.  If not, I've used the free [SumoLogic add-on](https://devcenter.heroku.com/articles

[2018-07-09 14:41] bkeepers commented on #64
I have a loggly account for probot, but I actually just stopped using it because I kept going over the limits of the free account.

Is there a Heroku addon we could use? If not I can try to get a paid loggly account, but it'll be a lot of hassle.

[2018-07-09 15:08] tcbyrd commented on #64
The only logging add-on that's white listed in our internal Heroku is [Papertrail](https://elements.heroku.com/addons/papertrail). I haven't used that, but it's also from Solarwinds, so at least in the same family as Loggly. I'm thinking we spin up a trial for that on Smee to evaluate if it's a good solution for our other internally hosted Probot apps?

[2018-07-09 23:49] JasonEtco commented on #64
👍 :shipit:

[2018-07-12 07:01] BasThomas opened #69 "Failing to run after installing"
I installed `smee`:

[code]

Now running anything (eg. `smee --help` or `smee -u <url>`) fails, with the following error:

[code]

[2018-07-12 09:53] BasThomas commented on #69
After updating `npm`, it now works.

[2018-07-12 09:53] #69 closed

[2018-07-12 17:11] JasonEtco opened #70 "Show screenshots of the UI in README"
We should show some screenshots of the delivery UI in the repo's README. Also maybe in our homepage. In any case, we've added lots of great features (pinning, fixing the copy button, redeliveries) and thats not shown in our public facing information.

[2018-07-12 17:13] JasonEtco opened #71 "Migrate UI components to `primer-react`"
The Primer team is working on a React-Primer library, and since we're using Primer and React, we should be using this! Its currently in beta, but we can try it out and give feedback where we can.

https://primer.github.io/primer-react/components

[2018-07-13 15:05] tcbyrd commented on #64
We're now hooked up to Papertrail on the free plan, which should be sufficient for smee at the moment. This required no changes to the app itself and we can access archives for up to 1 week if we need to. As a follow-up, I'm thinking we need to add some logging middleware to the app to get more than just "client connected" and "client disconnected" messages from the app.

[2018-07-13 15:30] JasonEtco commented on #64
Rad. @tcbyrd - I think we should add `bunyan` and use our existing Probot patterns (the bunyan Express middleware, the Sentry stream, etc). I would be careful not to log all of the webhook events, I feel like they can be a lot of logs, but we can try it out and monitor it.

[2018-07-13 15:51] tcbyrd commented on #64
👍 Yeh I don't want those in the logs. Heroku's router gives us some good info on receiving the webhooks already:

[code]

I'm struggling to come up with what other info we need outside of that and "client connected/disconnected" at the moment, but we'll probably need it eventually.

[2018-07-16 16:18] tarebyte opened #72 "Webhooks redelivered from the GitHub UI are not showing up"
Hi there 👋

We got an internal report that folks weren't able to resend GitHub App webhooks in GHE through the user interface.

After some investigation I think it's smee.io that may be having issue.

Below I've attached a GIF that includes me resending the same webhook (a push event) to both an ngrok listener and to smee.io

![webhooks](https://user-images.githubusercontent.com/564113/42770116-32

[2018-07-16 16:37] JasonEtco commented on #72
Thanks @tarebyte - this is "intentional" but confusing. Smee ignores duplicate payloads that have the same event ID header, so that when it does its own "redeliver" feature that event doesn't show up twice in the UI.

However, when building this I didn't consider redelivering _from GitHub_. It'd be best to still show those duplicates if they've been redelivered from GitHub, not from Smee.

[2018-07-16 17:01] JasonEtco commented on #72
Was able to reproduce ☝️ - in fact, `Clear deliveries` let me redeliver from GitHub again, so its definitely that front-end check. I'll try to fix this, but I won't have bandwidth until next week.

[2018-07-17 18:42] #64 closed

[2018-07-18 17:10] gautamarora commented on #65
yes please, this would be so awesome!!

possibly related, how about a replay feature? I would love to be able to take a selection of events from smee, and put then in a timed order to fire so I can test my entire bot workflow.

[2018-07-18 17:15] JasonEtco commented on #65
That's pretty interesting @gautamarora - I'm not sure that we have the bandwidth to figure out how that'd all work and then implement it. If you want to get started on a PR or an issue explaining the implementation we can definitely go from there.

cc @wilhelmklopp - if I remember, we were talking about grouping events into "scenarios" or something a while ago.

[2018-08-10 17:08] bkeepers opened #74 "Types for smee-client"
It would be great to have TypeScript types for `smee-client`.

[2018-08-20 20:18] bkeepers opened #75 "Client: Support older versions of node"
There are several places on https://developer.github.com/ where smee is now the recommended tool for proxying webhooks to localhost.

`smee-client` currently requires `node >= 7.6` due to `async`/`await`, but there's a high probability that non-node developers will still have an older version of node installed. The error you get when trying to use smee-client with an old version of node is very co

[2018-08-20 20:26] runleonarun commented on #38
@bkeepers now that smee is listening for events, I get this same error that @zeke reported. Note, I see them fine in the browser too.

[code]

[2018-08-20 20:51] runleonarun commented on #38
Note, this worked when I added the following line to the server.rb:
`set :bind, '0.0.0.0'`

[2018-08-28 03:37] knrt10 commented on #27
@tcbyrd will you please review my PR

[2018-09-09 13:45] 0xR opened #76 "Events not sent by GitHub don't pass duplicate event handling in the browser"
I'm starting a new smee channel and I'm posting to it using httpie:
[code]

This event shows up
![image](https://user-images.githubusercontent.com/6420016/45265146-29194600-b447-11e8-97be-af5e6b1e88cf.png)

But when I try again, no new event shows up until I clear the smee channel.
![image](https://user-images.githubusercontent.com/6420016/45265158-5239d680-b447-11e8-8525-216259cb16d2.png)

[2018-09-10 06:34] 0xR commented on #76
Not really, I was looking for a generic "Webhook payload delivery service". I know smee from developing github bots, but since the website doesn't mention github too prominently I thought it would work for any webhook. Note github not being mentioned:
![image](https://user-images.githubusercontent.com/6420016/45280204-c457fd00-b4d3-11e8-9ed5-b6bf9c9a6bbc.png)

What makes it further confusing is th

[2018-09-13 17:34] bkeepers opened #77 "Proxying HTTP responses"
Smee is currently a unidirectional channel for receiving POST requests and forwarding them to listening clients, ignoring the client's response.

There are a couple use cases where we'd like to figure out how to add support for true bi-directional proxying. For example, Slack's [events api](https://api.slack.com/events-api) depends on responses to know if webhooks were delivered successfully, and

[2018-09-13 19:14] JasonEtco commented on #77
We talked about this a bit during Probot Office Hours, so for posterity: this may require a rewrite of Smee, since [Server Sent Events](https://developer.mozilla.org/en-US/docs/Web/API/Server-sent_events/Using_server-sent_events) specifically doesn't support bi-directional messages. In my mind this means WebSockets, but I'm all 👂s for another solution.

[2018-09-14 19:27] macklinu opened #81 "Introduce code-splitting to web app"
Right now, running `npm run build` in the `server/` project generates one `main.min.js` bundle weighing in at 1.43 MB.

[code]

If some code-splitting refactors are introduced, that could reduce the overall bundle size (a potential performance improvement). Some thoughts on how this could be introduced / places to look at code-splitting:

The first step would be adding support for the dynamic `imp

[2018-09-17 20:02] macklinu commented on #74
I noticed that probot core was rewritten in TypeScript (https://github.com/probot/probot/pull/372). Is there a larger desire to convert other apps / parts of the `@probot` organization's repos (like smee) to TypeScript also, or just to provide types?

[2018-10-27 15:08] #62 closed

[2018-11-09 18:46] #70 closed

[2018-11-13 06:15] kshitij10496 opened #84 "Connection timeout when connecting to smee under proxy"
I've been looking to try smee while developing a GitHub app.

[code]

Currently, I'm working behind a proxy server which I have set for the shell and npm.
This probably is causing the connection issue as I'm able to connect to smee when I'm not using the proxy server. How do I solve the connection timeout issue under proxy?

[2018-11-14 13:54] #72 closed

[2018-11-16 19:16] #65 closed

[2018-11-19 05:29] abhijeetps commented on #56
Still relevant. 🙂

[2018-11-26 07:52] knrt10 commented on #27
Yes Pr is there

[2018-12-09 07:56] JasonEtco commented on #76
I'd still be interested in making this work!

[2018-12-10 17:00] wolfy1339 opened #85 "Smee online data doesn't refresh"
The webhooks received by smee, are not updating on the web UI, but they are being recieved by my probot app.

The data showed is over 1 month old.

[2018-12-10 17:16] wolfy1339 commented on #85
If i leave it open then re-send the webhook, it works fine

[2018-12-10 17:21] JasonEtco commented on #85
That's expected; Smee doesn't store webhook payloads, your browser does via `localStorage`. We've talked about real, persistent storage but that's a burden we're not prepared to take on right now. Apologies if that isn't clear - if you'd like to open a PR adding a message about how this works into the UI I'd be open to it!

[2018-12-10 17:21] #85 closed

[2018-12-13 20:11] macklinu commented on #81
Still relevant - looking for input! 😄

[2018-12-14 18:55] gr2m commented on #81
I’d say it depends on how much complexity is added to the project. I agree that 1.43 MB is a lot but maybe there are other ways to reduce the size, and maybe it’s not a problem for users of smee.io as it’s mostly developers

[2018-12-14 19:49] macklinu commented on #81
That's a good point. This would definitely be a for-fun thing for me to help improve bundle sizes / performance, but I agree that it is likely not mission critical in the same way small bundle sizes would be for other applications.

Happy to PR a before and after by introducing code splitting to get a sense of the tradeoff between complexity and bundle size improvements for others to take a look.

[2018-12-14 21:38] gr2m commented on #81
If it’s for excercise, then by all means, send pull requests, just please don’t be mad if we don’t accept it because our main objective is to keep the project easy to maintain, it's only a side project.

I say "we" but I don’t want to take any credit, I didn’t build any of this, just helping out myself :)

[2018-12-14 23:15] macklinu commented on #81
Most definitely, no offense, just looking to engage in open source projects that I use / enjoy and see what I can help with from both practical and nice-to-have standpoints. ❤️

[2018-12-15 05:01] tcbyrd commented on #81
I echo this. I welcome the improvement, but don't know enough about what kind of maintenance issues this might introduce, and it's not clear if code-splitting would really save us a whole lot here. i wonder if the bigger savings would come from cutting down the overall bundle size (tree-shaking, minification, removing dependencies, etc.) and seeing if it's an acceptable size after that?

[2018-12-15 05:39] JasonEtco commented on #81
I'm a little sad about that `1.43mb` - its way way more than it should be, and while code splitting will help, it's not really fixing the problem. 10000% feel free to try it out for your own sake, but I don't think its the right approach to fix this.

I ran this through [`webpack-bundle-analyzer`](https://www.npmjs.com/package/webpack-bundle-analyzer), and here's what it looks like:

![image](http

[2018-12-16 00:14] JasonEtco opened #87 "Separate smee-client and smee-server into separate repositories"
I'd like to chat about moving `smee-client` and the actual server into two separate repositories. My main motivation to do that is to ease contributions (contributing to the two is confusing, including for me) make build times faster (CI will have to test half the code).

What do y'all think? Is this something worth the small amount of effort, or is it _less_ confusing the way it is now?

cc @tcby

[2018-12-16 03:54] gr2m commented on #87
From my experience I’d say do it, there will probably be different contributors working on the client tja the server

[2018-12-16 22:18] macklinu commented on #87
I agree with having separate repos, as it has been a little confusing at times making sure I `cd` into the right directory when installing, starting the dev server, and running tests. 👍

[2018-12-16 22:19] macklinu commented on #81
I think a lot of the underlying problems of this have been addressed in #86, and if there are further improvements to lowering bundle size, let's open them up in separate issues. Closing this one. ❤️

[2018-12-16 22:19] #81 closed

[2018-12-17 04:30] tcbyrd commented on #87
@JasonEtco 👍 Also I think it means we can iterate on the server as a separate thing. We should setup probably setup some automation to ensure they're tested against each other, but I like the idea.

[2018-12-17 04:33] JasonEtco commented on #87
Yeah, good call. Zero code is shared between the client and server, so it might be tricky to do - but interestingly we don't already have any tests that work integrate both; so we're not _losing_ anything in the move, though it may be more difficult.

Sounds like three 👍s! Thanks all for your quick response 😊 Now, how do we feel about these names for the two repos?

* `smee-client`
* `smee-server`

[2018-12-17 04:39] tcbyrd commented on #87
One issue is the npm package is called `smee-client`, which right now also includes the CLI and is what some people have said they're using in production. I think it could potentially be confusing if there's still `smee-client`, but it doesn't do the server part anymore. What if we did `smee-ui` and `smee-server`?

[2018-12-17 04:52] JasonEtco commented on #87
ha - actually I meant that `smee-client` would continue to be the CLI tool, and `smee-server` would be https://smee.io. Thats what the directories are called right now - but its confusing.

[2018-12-17 05:00] tcbyrd commented on #87
d'oh. You're right. Then can we just call the server repo `smee.io` to avoid confusion?

[2018-12-17 05:04] JasonEtco commented on #87
Ooh that's a great idea. So:

* `smee.io`
* `smee-client`

OR:

* `smee.io`
* `smee`

Or is that too confusing? Either way we should clearly describe each one in its README.

[2018-12-17 05:13] tcbyrd commented on #87
One is the web app, one is the CLI. Makes the most sense to me. I think it's safe to rename this repository to `smee-client` to match the npm package, then we get redirects from `probot/smee` to `probot/smee-client` automatically and if anyone wants to help contribute the web app we can call that out in the README that we've moved the `/server` bits to `probot/smee.io`.

[2018-12-17 05:15] JasonEtco commented on #87
Great, I love that plan. Should have time to act on it at the end of the week.

[2018-12-18 00:36] macklinu opened #90 "Commit package-lock.json"
_Originally posted by @JasonEtco in https://github.com/probot/smee/pull/86#issuecomment-447961638_

This would probably be good to tackle after #86 is merged, since that PR updates a handful of dependencies.

[2018-12-18 23:05] rvantonder opened #91 "smee blocks * origin for CORS preflight request"
smee is set up to allow all CORS origins here:
https://github.com/probot/smee/blob/master/server/server.js#L75

but it rejects CORS preflight requests (cf CORS spec). Smee will therefore block servers or connections that expect the preflight request to pass before issuing further requests. To remedy, smee should respond with the correct headers to an `OPTIONS` method for preflight requests.

Examp

[2018-12-19 04:55] #75 closed

[2018-12-19 20:40] JasonEtco commented on #87
Making a note for myself - if we can bring over the Git history into `probot/smee.io` that'd be rad, there's a handy help doc for it: https://help.github.com/articles/splitting-a-subfolder-out-into-a-new-repository/

[2018-12-19 20:43] JasonEtco commented on #74
for sure - I think the plan in #87 is to make this repo `smee-client`, so its actually already in the right place.

[2019-01-14 14:39] andy-g commented on #76
I've created a PR (#94) to hopefully implement this suggestion.

[2019-01-17 18:33] GMouron commented on #60
Hello, I do have the same problem, and indeed, adding a `delete data.host` in the `onmessage` function does the trick ...
Should I do a PR ?

[2019-01-30 12:32] barry8schneider opened #95 "How to determine version of smee client"
I am using the windows version of the smee client. How do I tell which version I am using?

[2019-01-30 12:35] barry8schneider opened #96 "Windows Version -h does not list logger option"
`smee -h
Usage: smee [options]

Options:
  -u, --url <url>    URL of the webhook proxy service. Default: https://smee.io/new
  -p, --port <n>     Local HTTP server port (default: 3000)
  -P, --path <path>  URL path to post proxied requests to` (default: "/")
  -h, --help         output usage information
`

[2019-01-31 16:14] tommytang1995 opened #97 "Error: connect ECONNREFUSED 127.0.0.1:80"
Hi guys,
I got this issue while connecting to the smee. I was able to receive the event on the smee website but the payload was not sent to my local machine. Instead, I got this message down below:

[code]

[2019-01-31 22:10] #97 closed

[2019-02-02 16:44] rpetti opened #98 "Server should forward query strings"
Would it be possible to allow the server to forward query strings? Here's our use-case:

We are using smee to forward webhooks from our git system to a Jenkins server. Jenkins needs the repository URL passed in as a query string in order for it to be matched to jobs correctly:

[code]

We would like to be able to specify this query string on the git server's webhook configuration as such:

[code]

[2019-02-02 18:00] rpetti opened #99 "Server builds are currently broken due to terser"
I get the following when attempting to build the latest server code using npm install:

[code]

This appears to be caused by webpack-contrib/terser-webpack-plugin#66. I was able to work around it by adding terser version 3.14.1 as a dependency in smee server's package.json.

[2019-02-02 18:36] JasonEtco commented on #99
Thanks for the report @rpetti 🙏 - I'm able to reproduce this as well. We still aren't committing `package-lock.json` 😭 so this kind of thing is inevitable until #90 is done. I'd really like to finish up #93 before making changes though. Will keep my eye on this, and if we can't resolve #93 we'll fix this up 👍

[2019-02-02 19:16] rpetti commented on #99
Great, thanks!

[2019-02-07 07:18] #77 closed

[2019-02-11 01:19] ahmadnassri opened #101 "Payload Too Large"
seems like whatever proxy service smee is using blocks large payloads from GitHub.

![image](https://user-images.githubusercontent.com/183195/52542747-00d4a100-2d71-11e9-9a8e-3d80483443a2.png)

the above webhook does not register in the smee interface, nor does it hit my downstream server

[2019-02-11 01:28] JasonEtco commented on #101
@ahmadnassri can you share some details about the payload that it's trying to send?

[2019-02-11 17:47] tcbyrd commented on #101
I think this is a limit imposed by [`bodyParser`](https://github.com/expressjs/body-parser#limit). A quick fix is increasing this limit, but I'm not sure what the "right" upper limit would be. We can definitely get large payloads from GitHub during a `push` that will be more than the default limit.

[2019-02-12 16:24] GitMylou commented on #84
Hello,
I just had the same issue.
Looking at smee/index.js, the eventSource is build like that:
const events = new EventSource(this.source)

But according to eventSource documentation, it is possible to add proxy. "This is typically useful if you are behind a corporate firewall."

new EventSource(url, {proxy: 'http://your.proxy.com'});

https://github.com/EventSource/eventsource/blob/master/README

[2019-02-12 22:22] JasonEtco commented on #84
Thanks for that doc link @GitMylou - I think a `--proxy` option might be useful in `smee-client`. That'd go somewhere here:

https://github.com/probot/smee/blob/9dc32b0be76771a731f661fd39d6b5acdec1e3a4/client/bin/smee.js#L7-L13

And be passed down here:

https://github.com/probot/smee/blob/9dc32b0be76771a731f661fd39d6b5acdec1e3a4/client/index.js#L45

Anyone up for opening a PR? ❤️

[2019-02-13 23:31] ngan opened #102 "Ignore self-signed SSL cert verification"
We use https in development (using puma-dev) with a self-signed ssl cert. Smee client uses superagent which doesn't expose an option to ignore errors. In fact, the creator is pretty against it: https://github.com/visionmedia/superagent/issues/926.

Considering that smee is used for development, it would be nice to not have to suffer this simply because superagent is against it.

[2019-02-14 00:36] kadler commented on #102
Have you looked at [mkcert](https://github.com/FiloSottile/mkcert)?

[2019-02-14 08:31] quarckster commented on #102
Just specify `NODE_EXTRA_CA_CERTS` environment variable with a path to your certificate in pem format.

[2019-02-14 14:38] niutski opened #103 "Wrong Content-Length header when event has Content-Length header and its payload contains whitespace"
I'm trying to use Smee.io to use webhooks from Bitbucket Cloud to our Jenkins behind a firewall. Bitbucket sends webhook events with content-length header, but the body it sends contains whitespace. smee.io server correctly parses the incoming JSON, but then it implicitly removes whitespace but does not change the content-length header when it forwards the event to the client. This causes Jenkins

[2019-02-14 18:47] ngan commented on #102
Pretty cool. Thanks!

[2019-02-14 18:47] #102 closed

[2019-02-18 05:34] ahmadnassri commented on #101
@JasonEtco @tcbyrd it was an `installation.added` event with `1048` repositories from GitHub org ...

unfortunately I cannot share the payload itself ... as this is a private org.

@tcbyrd I would agree to being cautious of increasing the `bodyParser` limit in general ... though I would think an exception for `installation.added` would be reasonable ... as this would be the most important event fo

[2019-02-18 12:48] abhijeetps commented on #56
Still relevant, I think.

[2019-02-22 02:59] tjkorthal commented on #96
@barry-schneider Loggers can't be supplied from the CLI, but they can when using the package from a script/program as shown in the readme
[code]

[2019-02-22 03:22] JasonEtco commented on #96
thanks for the answer here @tjkorthal - @barry-schneider, I'm curious to hear your use-case, because I don't think that having a logger option in a CLI tool is really possible outside of piping it to a different output (at which point you wouldn't need an option specifically for it).

[2019-03-13 22:44] musabmasood opened #108 "-t option not available"
-t option is not available in the latest smee-client even though it shows in the codebase.

I am therefore unable to forward the request to anyother URL than localhost

[2019-03-13 23:10] iamdanfox commented on #108
I'd also love to use the `-t` option because my server happens to serve traffic over HTTPS!

It seems like the functionality was landed just last month (https://github.com/probot/smee/pull/83), but the most recent release of smee-client (1.0.2) was [9 months ago](https://www.npmjs.com/package/smee-client).

@tcbyrd would you be able to cut a 1.0.3 release of smee-client? Also thanks for making suc

[2019-03-14 00:49] tcbyrd commented on #108
@JasonEtco do you have access to that package? I have access to `smee-cli`, but not `smee-client`, so I can't publish it to the npm package everybody is using.

[2019-03-18 12:14] quarckster opened #109 "Add date into smee client log"
Currently, smee client produces such lines in the log:
[code]

It would be nice to have dates there:
[code]

[2019-03-18 14:05] JasonEtco commented on #109
@quarckster are you asking about the CLI? Right now, you can pass a logger to the `SmeeClient` class (copied from [Probot's built-in Smee support](https://github.com/probot/probot/blob/master/src/webhook-proxy.ts):

[code]

[2019-03-18 18:19] macklinu commented on #90
I think this is unblocked now that #86 is merged. /cc @JasonEtco for further input

[2019-03-19 21:21] wolfy1339 commented on #87
Not stale.
________________________________
From: stale[bot] <notifications@github.com>
Sent: Tuesday, March 19, 2019 5:19:36 PM
To: probot/smee
Cc: wolfy1339; Manual
Subject: Re: [probot/smee] Separate smee-client and smee-server into separate repositories (#87)

Is this still relevant? If so, what is blocking it? Is there anything you can do to help move it forward?

—
You are receiving this bec

[2019-03-19 21:21] wolfy1339 commented on #74
Not stale
________________________________
From: stale[bot] <notifications@github.com>
Sent: Tuesday, March 19, 2019 5:19:35 PM
To: probot/smee
Cc: wolfy1339; Manual
Subject: Re: [probot/smee] Types for smee-client (#74)

Is this still relevant? If so, what is blocking it? Is there anything you can do to help move it forward?

—
You are receiving this because you are subscribed to this thread.
Rep

[2019-03-31 01:59] JasonEtco commented on #109
I'm going to close this because of inactivity, and because I'm pretty sure that ☝️ will do the trick. Feel free to reopen if I'm mistaken!

[2019-03-31 01:59] #109 closed

[2019-03-31 02:01] JasonEtco commented on #99
This looks like it fixed itself on its own through a patch version of `terser-webpack-plugin`. We still need to resolve #90, but I'm going to close this as it seems to be solved.

[2019-03-31 02:01] #99 closed

[2019-03-31 02:12] JasonEtco commented on #108
I do - I'll go ahead and publish right now. I've also added you to it @tcbyrd.

[2019-03-31 02:14] JasonEtco commented on #108
Done! Thanks all for your patience 🙏 Install now with `npm i smee-client@1.0.3` 🎉

[2019-03-31 02:14] #108 closed

[2019-03-31 05:28] #95 closed

[2019-03-31 05:32] JasonEtco commented on #98
Closed by #100 - thanks @rpetti ✨

[2019-03-31 05:32] #98 closed

[2019-03-31 05:33] JasonEtco commented on #96
I'm closing this due to inactivity, and because I'm not sure what the question is. Feel free to reopen if needed!

[2019-03-31 05:33] #96 closed

[2019-03-31 05:51] wolfy1339 opened #110 "Security vulnerability in smee-client deps"
GitHub is warning me of `extend` included in `superagent`.
And most of the deps are out of date anyways

[2019-03-31 16:54] #110 closed

[2019-04-02 03:38] #87 closed

[2019-04-02 03:41] wolfy1339 commented on #71
Needs to be moved to [`probot/smee.io`](https://github.com/probot/smee.io/)

[2019-04-02 03:42] JasonEtco commented on #71
Yep, was literally about to do all of those, thanks for the callout @wolfy1339!

[2019-04-02 03:42] JasonEtco commented on #76
Closed by #94, thanks @andy-g!

[2019-04-02 03:42] #76 closed

[2019-04-02 03:53] JasonEtco opened #112 "More tests"
In #93, we removed the interop test between the CLI and the server, which effectively removed the end-to-end tests for the CLI. We should add more, granular, unit tests for the different pieces of the `Client` class. We know it all works, but we still want tests!

PRs for this would be really lovely! We're happy to help contributors write those tests ❤️

[2019-04-02 03:53] JasonEtco commented on #90
This is definitely unblocked now, especially now that #93 is done! Let's do it!

[2019-04-02 03:55] JasonEtco commented on #74
Now that #93 is merged, we can start thinking about this more practically! We can convert the library to TypeScript, or just add types - either way works for me. Marking this as `help wanted` to make it clear that it'd be open to PRs! I think adding types would be a good first step, but there's not so much code that converting to TS would be too rough.

[2019-04-06 12:10] jeroen opened #114 "URL on homepage is broken"
<img width="575" alt="Screen Shot 2019-04-06 at 2 09 35 PM" src="https://user-images.githubusercontent.com/216319/55669280-befa3f80-5875-11e9-8ede-2178087cc621.png">

[2019-04-11 17:58] #90 closed

[2019-04-11 20:19] Midacts commented on #102
Thanks. This worked for me.
`NODE_EXTRA_CA_CERTS=/etc/ssl/certs/ca-certificates.crt`

[2019-04-26 19:59] jherman opened #116 "Error forwarding Bitbucket Cloud to Internal Jenkins"
Anyone seen this issue?
[code]
I'm currently running smee on Centos 7:
`smee --url https://smee.io/XXXXXXXXXXXXXX --target https://X.X.X.X/bitbucket-hook/`

I logged the call from Bitbucket, and reproduced the POST call using just CURL locally, and it started the job just fine.  So it appears Bitbucket is fine and Jenkins is fine.  I'm not sure what smee-client doesn't like here.

Any advice?

[2019-05-03 16:32] mgust commented on #116
I noted the issue, and it appears this happens on Github when the Content Type of the hook is set to application/x-www-form-urlencoded. It appears to assume that the body is JSON encoded.

[2019-05-03 19:21] jherman commented on #116
@mgust Just a heads up, that this was for BitBucket.  Maybe it's the same issue?

[2019-05-03 20:04] yrsurya commented on #116
Any update on this issue

[2019-05-07 08:32] mgust commented on #116
Ah, missed that. I suspect it may be something similar though as the error basically just seemed to mean that Jenkins didn't get a body in the trigger.

`at org.eclipse.jetty.server.HttpInput$ErrorState.noContent(HttpInput.java:1080)` this part buried in the stacktrace appears to throw the TimeoutException to show there were no content.

So basically, the error is upstream. Either BitBucket isn't

[2019-05-08 01:24] jherman commented on #116
Actually I still believe it's smee that has an issue. I ended up using socketxp instead for relaying and it works well. I have to believe the issue lies with smee.

[2019-05-21 18:30] levimatheri opened #118 "Running smee-client as a service"
Is it possible to run smee-client as a service on Windows? I tried writing a bat script that would call the smee command but after building an exe and creating the service, Windows would throw an error 1053: The service did not respond to the start or control request in a timely fashion.

[2019-06-10 07:28] Dancho80 commented on #84
any progress with that PR to enable a client usage behind the proxy?
Currently, it's a show stopper for us to use this great project :(

[2019-06-12 10:46] nickwilley commented on #116
I was experiencing the same issue with Jenkins, GitHub, and smee. Changing the Content Type to 'application/json' on the GitHub webook configuration is what finally worked for me. As @mgust indicated, setting the webhook configuration to 'application/x-www-form-urlencoded' does not appear to provide the correct response for Jenkins. Not sure is BitBucket has a similar option.

[2019-06-12 14:21] jherman commented on #116
Yeah that may well be the issue and unfortunately Bitbucket doesn't let you switch content type. I also think this project has lost traction as it appears the owners haven't replied to anything in quite some time.

[2019-06-18 21:43] yrsurya commented on #116
Is this repo is active?

[2019-06-18 22:05] JasonEtco commented on #116
@yrsurya no, this just isn't a big problem.

Based on [this comment](https://github.com/probot/smee-client/issues/116#issuecomment-489158771) from @mgust, it looks like this is due to passing non-JSON data to `smee-client`. Whether or not some other client works with the same payload (see [this comment]()) isn't super relevant - kind of just confirms that `smee-client` doesn't support `application

[2019-06-19 21:34] yrsurya commented on #116
I am following this blog to setup smee client https://jenkins.io/blog/2019/01/07/webhook-firewalls/

But it didn’t work

[2019-06-23 22:59] yrsurya commented on #116
Can I know how you configured socketxp to receive webhooks from bitbucket cloud to internal jenkins as I am also facing same 500 error issue while using sme where it is working for github

[2019-06-26 10:19] thirstybear commented on #116
Having the same issue with BitBucket.

BitBucket is _claiming_ to be sending Content-Type `application/json`. I'll have more of a poke around and report back here.

![Screenshot 2019-06-26 at 11 18 13](https://user-images.githubusercontent.com/205883/60172277-423b8980-9804-11e9-9e5a-073f55d08197.png)

[2019-07-01 04:01] wolfy1339 commented on #74
Not stale
________________________________
From: stale[bot] <notifications@github.com>
Sent: Sunday, June 30, 2019 11:59:21 PM
To: probot/smee-client
Cc: wolfy1339; Manual
Subject: Re: [probot/smee-client] Types for smee-client (#74)

Is this still relevant? If so, what is blocking it? Is there anything you can do to help move it forward?

—
You are receiving this because you are subscribed to thi

[2019-07-02 16:43] sushilbh opened #120 "smee not trigging Jenkins job"
I am newbie to smee. I setup my Jenkins in a docker container running on port `8080`, i first installed and configured smee. I started the smee client and it does says `Forwarding https://smee.io/XXXXXXXXXX to 8080`. I also have webhook setup correctly, when i pushed changes to my git repo _Webhook Deliveries_ does says something is being pushed. The purpose of having smee is Jenkins job needs to

[2019-07-09 19:12] levimatheri commented on #120
Is Jenkins polling? Try using GitHub Branch Source plugin. You will need to write Jenkinsfile pipeline scripts but it works. Alternatively, take a look at BlueOcean plugin

[2019-07-11 18:54] sushilbh commented on #120
Added

properties([pipelineTriggers([githubPush()])]) in the Jenkinsfile

It started working fine!

[2019-07-12 18:17] #120 closed

[2019-07-12 20:46] JasonEtco commented on #118
@levimatheri you can look into [`pm2`](https://www.npmjs.com/package/pm2) and using the programmatic API of smee-client:

https://github.com/probot/smee-client/blob/2eb82ce58dbb66dc2fbcbadc7c81c6b0bcf9df2f/index.js#L75

Past that, running `smee-client` as a service isn't something we directly support and I don't think we need to. The building blocks are there for you to set it up 😄 I'm going to cl

[2019-07-12 20:46] #118 closed

[2019-07-12 20:46] #112 closed

[2019-07-12 20:49] levimatheri commented on #118
@JasonEtco You're right. I just chose to use [this](https://www.npmjs.com/package/qckwinsvc) and it works too!

[2019-07-18 16:07] JamesMc86 commented on #116
Had a poke in the client code and captured some wireshark traces to check what was being sent to jenkins.

The problem is that for some reason (not sure why exactly) the content-length is wrong. When I prevent the content length from being added to the request it appears to work. Need to do more testing and can complete a pull request then.

[2019-07-21 16:29] ally13nella commented on #116
Ok

[2019-07-24 17:53] sushilbh opened #123 "http://jenkinsurl/github-webhook/ - java.lang.Exception: Method POST required"
I am running smee.service in `etc/systemd/service`. and i have this inside the `.service` file.

[code]

**This is the error i am seeing....**

java.lang.Exception: Method POST required
	at org.kohsuke.stapler.HttpResponses.error(HttpResponses.java:83)
	at org.jenkinsci.plugins.github.webhook.RequirePostWithGHHookPayload$Processor.shouldBePostMethod(RequirePostWithGHHookPayload.java:88)
	at org.je

[2019-07-28 05:34] josephfo opened #124 "Bad Request - Invalid Hostname"
After setting up my smee channel, I'm using this command line:
smee -u https://smee.io/<my channel> -t https://localhost:44359/api/issues
[full-smee-output.txt](https://github.com/probot/smee-client/files/3438874/full-smee-output.txt)

I have an ASPNet Core WebApi controller running locally on port 44359 - that I want to handle these requests coming from smee.

I'm sure it's something on my side,

[2019-07-30 14:26] Dancho80 opened #126 "Client rapid disconnection from the server"
We have clients running on both: windows and linux platforms as a service (under pm2).
Once a day or two, the client loses a connection to the server (we are running our own smee server). No errors in the smee-client log, just webhooks are not received in the client. We are sure that the server receives those missing webhooks. To solve the issue, we restart the client and resend a missing webhooks

[2019-07-30 14:43] sushilbh commented on #124
If you are running on `localhost`
`smee --url https://smee.io/xxxxxx --path /github-webhook/ --port 44359`

[2019-08-13 05:12] yrsurya commented on #116
Hi, any update on this issue? please let us know

[2019-08-24 22:56] dumbitdownjr commented on #38
Did anyone find a fix for this issue? `set: bind, '0.0.0.0` was already set for me in server.rb

[2019-08-26 18:31] levimatheri opened #127 "smee is down"
My CI server wasn't building for a while and upon investigation, browsing https://smee.io throws a 503 error.

[2019-08-26 18:49] #127 closed, assigned to nobody

[2019-08-27 00:39] AnalogJ opened #131 "GHE is giving me "SSL connect error" errors when using smee"
We have a valid certificate on our GHE server, and I'm not seeing any payload on the smee.io site.

[2019-08-27 11:47] sssandyad commented on #127
up @JasonEtco

[2019-08-27 11:56] praveendvd opened #132 "Smee.io not receiving webhook payloads"
I created a channel and tried editing the github repository. But events are not received by smee.io channel

[2019-08-27 13:24] praveendvd commented on #132
On further analysis, i have to do two pushes then only the event is getting send to client

[2019-08-27 13:49] stefankip commented on #132
Yes we're also having issues with github and smee.io webhooks. So this isn't a github issue?

[2019-08-27 13:51] praveendvd commented on #132
No , i verified that github web-hooks are generated , by using  https://webhook.site/

[2019-09-03 13:30] Dancho80 opened #133 "Dropping 'old' client connections"
is it possible somehow to drop old client connections?
currently, if too many clients are connected (defined by 'worker_connections' in nginx config) the server fails.
We deployed smee server on our self hosted server with 5 clients (3 windows, 2 linux). After running for 30 days, a server crushed with maximum allowed connectors. Only after disabling windows clients and restarting smee server we w

[2019-09-16 12:30] Dancho80 commented on #133
update:
seems that happening when some network issue occurs.
See smee-client-error.log during the time when new connection is created:
Event { type: 'error', message: 'socket hang up' }
Event { type: 'error', message: 'read ECONNRESET' }

The main problem is still - old connections are not dropped.

[2019-09-29 04:36] wolfy1339 commented on #74
Not stale. Waiting on input from maintainers
________________________________
From: stale[bot] <notifications@github.com>
Sent: Sunday, September 29, 2019 12:25:07 AM
To: probot/smee-client <smee-client@noreply.github.com>
Cc: wolfy1339 <wolfy1339@outlook.com>; Manual <manual@noreply.github.com>
Subject: Re: [probot/smee-client] Types for smee-client (#74)

Is this still relevant? If so, what is b

[2019-09-30 12:07] parzi7al opened #134 "Server URL validation"
Hi!

I have a docker stack with my own smee.io server, and I'm trying to connect my probot service to the server via service names, like that:

[code]

where _probot.env_ looks like:

[code]

Could you please add `{ require_tld: false }` to `validator.isURL()` options:

https://github.com/probot/smee-client/blob/cbf0873b7ab80cdbc1e1d24f1b2aa309dc055e72/index.js#L13-L15

[2019-10-02 19:52] yrsurya commented on #116
Hi Any update on this issue, it would be very helpful if we can get it working for Bitbucket.

[2019-10-08 09:08] #84 closed

[2019-10-31 05:39] AronWater opened #135 "smee could successfully receive web hook, but fails at forwarding to my computer local server"
https://developer.github.com/apps/quickstart-guides/using-the-github-api-in-your-app/
I am following the tutorial on GitHub on setting up GitHub API,  however, I encounter this problem.

I simply run `sudo smee --url https://smee.io/0AcRN6nAAdZAw5T  --path /event_handler --port 3002
` in my terminal,   and while good webhook receive the following error appear while smee try to redirect the message

[2019-11-03 17:41] viphe opened #136 "Smee seems to reformat JSON without updating Content-Length header"
Hi,

I am using smee-client in front of a custom Node app. During my tests using `curl`, I noticed the following kind of error from it:

[code]

By observing the payload, I finally realized that the 'Content-Length' header coming from smee client was still equal to what my curl command was sending whereas the JSON payload itself had been reformatted to a compact format.

This leads my app to hang,

[2019-11-06 11:38] sotona- opened #137 "Don't work via reverse proxy because 'host' header always is 'smee.io'"
Hi.
When smee client forwards request to jenkins, it always sets header 'host: smee.io'.  If my Jenkins instance works via reverse proxy, it will answer 403, b.c. it doesn't know about 'smee.io' host

[2019-11-19 10:04] parzi7al commented on #134
Deprecated.

[2019-11-19 10:04] #134 closed

[2019-11-20 15:16] Dancho80 commented on #133
is there some PR for a solution? Currently, a client opens new session upon each network glitch. So after few days of running, we can have dozens of opened connections instead of one.

[2019-11-21 22:21] #123 closed

[2019-11-27 15:25] #126 closed

[2019-11-27 16:25] #124 closed

[2019-12-24 14:16] kerry-Cho opened #139 "ignore self signed ssl check not work"
this issue, It is related to the blew issue.
https://github.com/probot/probot/issues/1093#issue-541665090

There is a bug in the code below.
Optional information such as rejectUnauthorized in EventSource d is not entered.
https://github.com/probot/smee-client/blob/cbf0873b7ab80cdbc1e1d24f1b2aa309dc055e72/index.js#L53

For this reason, enabling the option to ignore SSL authentication does not work

[2019-12-25 05:09] #131 closed

[2019-12-29 04:53] wolfy1339 commented on #74
Not stale

[2020-01-04 17:50] oveits commented on #116
I am hitting the same problem. I have compared a tcpdump trace of a direct connection from Bitbucket to my Jenkins (works) with the one between smee client to Jenkins.

The original POST looks like follows:
[code]
The packet coming from the smee client looks like follows:
[code]

I have noticed that the spaces behind `:` and `,` are missing in the POST sent by the smee client. However, both are re

[2020-01-04 18:50] oveits commented on #116
This is probably not a smee client issue, but an issue of smee.io. See https://github.com/probot/smee.io/issues/5.

[2020-01-11 21:21] jaimefps commented on #136
I'm having this problem with the same exact stack trace:

[code]

Is there any reason you cannot execute a GET request from inside an Express.js router.put()?
I have two routes. The exact same api call works in a `router.get()` route and hangs in the `router.put()`.

This works:
[code]
router.put('/:id', async () => {
  let result;
  let finalResult;

  try {
    result = await axios({ method:'get

[2020-02-12 22:39] chrisdothtml commented on #136
Just spent a couple hours debugging before finding this issue :(

Don't have any proposed solutions, but can confirm everything in the issue description. Everything I found on this issue wrt express said that this happens when the content length doesn't match the actual content, so it does seem that smee is violating this in some way

[2020-02-28 15:15] shyamshinde008 opened #142 "Github Webhook smee-client implementation"
I am working on DevOps POC, everything is new for me.I have installed all the software on my office windows machine and trying to create a DevOps pipeline.

 My machine is in office network so i am not able to use Github Webhook functionality to trigger Jenkins.

I found that smee-client can help but I am not able to configure it on my windows machine. Will you please help me with this?

Thanks,
S

[2020-02-28 15:22] JasonEtco commented on #142
👋 can you provide some more details and information about what is not working? What have you tried, what error messages are you seeing?

[2020-02-28 17:35] shyamshinde008 commented on #142
Actually I am not getting how to configure it on windows machine. Not
getting error because I am not sure how to configure it.

Thanks,
Shyam Shinde

On Fri 28 Feb, 2020, 8:52 PM Jason Etcovitch, <notifications@github.com>
wrote:

[2020-02-28 17:39] JasonEtco commented on #142
What have you tried so far?

[2020-02-29 02:33] shyamshinde008 commented on #142
Nothing because instructions provided on the page look like they are for
linux system.

Thanks,
Shyam Shinde

On Fri 28 Feb, 2020, 11:09 PM Jason Etcovitch, <notifications@github.com>
wrote:

[2020-02-29 02:47] #135 closed

[2020-02-29 05:45] JasonEtco commented on #142
The Smee CLI should work as-is on Windows. Please follow the steps in the README and report back with any issues or errors. If you haven't already, you can install Node.js [here](https://nodejs.org/en/), which gives you the `npm` command.

[2020-03-02 07:26] shyamshinde008 commented on #142
Hi Jason,

I installed Node.js and triggered the "npm install -g smee-client" but that
is not running successfully.

Please find attached log file.

Thanks,
Shyam Shinde

On Sat, Feb 29, 2020 at 11:15 AM Jason Etcovitch <notifications@github.com>
wrote:

[2020-03-02 16:05] JasonEtco commented on #142
@shyamshinde008 there is no attached log file 😄 what happens when you run the following in your terminal:

[code]

[2020-03-02 17:14] shyamshinde008 commented on #142
Attachment is there I can see it 🤔...

Anyways please find below details...

0 info it worked if it ends with ok

1 verbose cli [

1 verbose cli   'C:\\Program Files\\nodejs\\node.exe',

1 verbose cli   'C:\\Program
Files\\nodejs\\node_modules\\npm\\bin\\npm-cli.js',

1 verbose cli   'install',

1 verbose cli   '-g',

1 verbose cli   'smee-client'

1 verbose cli ]

2 info using npm@6.13.4

3 info

[2020-03-05 12:11] #137 closed

[2020-03-19 20:57] #133 closed

[2020-03-22 16:54] davidkarlsen opened #145 "Support setting hostname"
Our target server requires a given hostname in the request for this to work properly. Can the smee-client be configured to use a specific hostname in order to support virtual-hostname based routing?

[2020-03-28 06:49] wolfy1339 commented on #74
still relevant

On 2020-03-28 2:48 a.m., stale[bot] wrote:

[2020-03-31 07:16] sangshuduo commented on #69
still happen with npm 3.5.2 / node 4.2.6 :(

[2020-04-22 04:05] Frechetta commented on #136
I have also run into this issue. My quick, hacky fix was to add `const data_len = JSON.stringify(data.body).length` before the `delete data.body` line and ```req.set('content-length', `${data_len}`)``` before `req.end(....)` in index.js.

[2020-04-23 05:14] #139 closed

[2020-04-23 15:59] rnkhouse commented on #116
I am getting the same error:

    Error: cannot POST /bitbucket-scmsource-hook/notify/ (500)
          at Response.toError (/usr/local/lib/node_modules/smee-client/node_modules/superagent/lib/node/response.js:94:15)
          at ResponseBase._setStatusProperties (/usr/local/lib/node_modules/smee-client/node_modules/superagent/lib/response-base.js:123:16)
          at new Response (/usr/local/lib/n

[2020-05-27 16:55] danzzit commented on #116
Same error here, payload never made it to Jenkins.

`error: Error: cannot POST /generic-webhook-trigger/invoke?token=MyToken (500)
        at Response.toError (/usr/local/lib/node_modules/smee-client/node_modules/superagent/lib/node/response.js:94:15)
        at ResponseBase._setStatusProperties (/usr/local/lib/node_modules/smee-client/node_modules/superagent/lib/response-base.js:123:16)
        a

[2020-05-28 21:08] honestbonsai opened #149 "Long string being truncated"
I was using ngrok to proxy my local dev server before, but I would like to move to smee. I've noticed that for a really long string (a signature) that I'm not getting the same results from ngrok and smee. The lengths:

ngrok: 684
smee: 678

smee's version will fail my webhook signature validation. Is there some kind of max length to a field before it gets truncated?

Update: I can see my webhook o

[2020-05-30 07:24] jomach opened #150 "Support for HTTP_PROXY envs"
Hello Smee,

Is it possible to get Support for HTTP_PROXY envs?
This would be very nice.

[2020-06-03 15:43] honestbonsai commented on #149
If I add the following to https://github.com/probot/smee-client/blob/master/index.js#L34

[code]

It works fine. Not sure why it's +8 though.

[2020-06-08 11:48] schowave commented on #116
I have the same issue with bitbucket:

    at Request.callback (/snapshot/webhooks/node_modules/superagent/lib/node/index.js:706:15)
    at Stream.<anonymous> (/snapshot/webhooks/node_modules/superagent/lib/node/index.js:916:18)
    at Stream.emit (events.js:311:20)
    at Stream.EventEmitter.emit (domain.js:482:12)
    at Unzip.<anonymous> (/snapshot/webhooks/node_modules/superagent/lib/node/unzi

[2020-06-08 12:57] schowave commented on #116
I got it working by using the PR from here: https://github.com/probot/smee-client/pull/148/commits/3eab4d950bd9780be6c9bb7b9b2275f6e4fcecd0 manually in the npm code.

[2020-06-24 22:02] gr2m opened #153 "Passing all headers is causing a 403 when deploying to AWS lambda"
By default, `smee-client` sends all headers:

[code]

When I only pass on the headers I care about (`["x-github-delivery", "x-github-event", "x-hub-signature"]`), then the error goes away.

I don't have time to investigate further right now, I'm creating this as a reminder :)

[2020-06-27 00:20] wolfy1339 commented on #74
Not stale. Still relevant. Is nobody looking through issues in this repo?

[2020-06-29 15:13] zalexki commented on #149
#148 , #152 fixes it in a nicer way than #122 IMO, i hope it will be merged one day

[2020-07-20 17:59] #145 closed

[2020-07-28 13:12] zalexki commented on #149
@hiimbex @JasonEtco @lee-dohm @zeke 🙏 can one of you accept one the above PR for this issue (that will also close #142 i think)

[2020-08-12 22:27] gr2m opened #155 "Implement 100% test coverage"
`smee-client` has only a single test at this point. Without full test coverage we cannot confidently work on bug fixes and new features.

This would be a great project to help out with if you are interested in contributing to Probot

[2020-08-17 15:02] pdpdvp commented on #84
<img width="1028" alt="Screen Shot 2020-08-17 at 9 48 44 AM" src="https://user-images.githubusercontent.com/22753151/90410789-6b565380-e070-11ea-9748-7de2452aaf32.png">

Im seeing this continuous timeout errors in the logs, my app internally makes api calls to Jira and Cruicble. Can anyone help me understanding what is the issue?

[2020-08-19 00:08] #74 closed

[2020-09-01 07:44] Ginxo opened #156 "Upgraded from v1.1.0 to v1.2.0 produces Hostname/IP does not match certificate's altnames: Host: smee.io. is not in the cert's altnames"
Hi,

first of all thanks for the support. We are using smee.io service/client to communicate github events with our internal Jenkins instance (nothing new here). We upgraded [smee-client npm library](https://www.npmjs.com/package/smee-client) from [v1.1.0](https://www.npmjs.com/package/smee-client/v/1.1.0) to [v1.2.2](https://www.npmjs.com/package/smee-client/v/1.2.2) and then this error is produc

[2020-09-07 05:19] aphex3k commented on #116
Yes this is still relevant as at least https://github.com/probot/smee-client/pull/152 has not been closed yet.

[2020-10-04 03:09] #142 closed

[2020-10-04 03:09] #150 closed

[2020-10-05 11:38] skjnldsv opened #157 "No changelog for v1.2.0"
https://github.com/probot/smee-client/releases

[2020-10-14 17:15] mfaltas-sandia commented on #84
I have tried doing: const es = new EventSource(this.source, {proxy: 'http://your.proxy.com'});

and I end up getting "Bad Request" "Error 400" instead of the connection timeout errors. Any advice on what I can do to fix this?

[2020-10-14 17:45] mfaltas-sandia opened #158 "Error 400, Bad Request when operating SMEE client behind corporate firewall proxy"
Hello Everybody,

I am trying to operate SMEE on a server behind a proxy and I was getting connection timeout errors when I intput the following:

smee -u  SMEE-link  -p 8080

I saw on https://github.com/probot/smee-client/issues/84 a reference to https://github.com/EventSource/eventsource/blob/master/README.md that says:

![image](https://user-images.githubusercontent.com/70349387/96025473-67e20d

[2020-11-03 08:38] pawelbolonek opened #159 "Support for "Virtual host" used by Kubernetes Ingress"
Currently client pases original "Host" header coming from request. This way kubernetes ingress can't dispatch call to respective service.

Host header should come from target hostname and original Host could be placed in x-forwarded-host header as proxy usually do.

Suggested solution:

L50:
  Object.keys(data).forEach(key => {
      req.set(key, data[key])
			if(key.toUpperCase() === 'HOST'){

[2020-11-11 17:14] brtduvally commented on #156
I'm seeing the same issue on RHEL 7. Only way to make 1.2.2 work was to use NODE_TLS_REJECT_UNAUTHORIZED. Once I downgraded to 1.1.0 it started working correctly.

[2020-11-14 15:25] praveendvd opened #160 "Smee.io does GET instead of POST"
![image](https://user-images.githubusercontent.com/45095911/99150559-6021bc80-268d-11eb-86ab-9001bf19725a.png)

version : 1.2.2

When uses no -target , port or path parameter it does a POST but when these are specified it does a GET instead of POST so no hook forwarding is done

![image](https://user-images.githubusercontent.com/45095911/99150599-a414c180-268d-11eb-972a-7171d5abb811.png)

[2020-11-14 16:25] praveendvd commented on #160
The issue was not having an ending /  , the tarager should have been -t https://localhost:8080/github-webhook/ instead of https://localhost:8080/github-webhook

[2020-11-14 16:25] #160 closed

[2021-01-26 05:39] pravinblaze commented on #74
Thanks @gr2m  :)

[2021-01-26 17:34] gr2m commented on #74
I didn't do much, all @wolfy1339's work, and patience :)

[2021-02-14 21:45] Deejuha commented on #116
Had same issue while trying to parse gitlab http request into jenkins, #152 fixed it for me.

[2021-02-27 16:07] aliraza7926 opened #161 "problem in django"
I write a simple webhook in Django
my simple code in Django was

[code]
then in my terminal, I run

`smee -u https://smee.io/YjVfdzh3EplhFGvv -t http://127.0.0.1:8000/webhook/`

the problem is Django can not receive the body of the request
then when I press ctrl + c and stop smee then Django receive the body of the request and print it
I think my code has a problem so I send data from my local mac

[2021-03-01 06:16] devaraju31 commented on #123
Can  anyone answer this  issue ?

[2021-03-10 10:39] danielsteinmann commented on #158
Enabling the proxy like this works for me, thanks for the tip!

Could it be that the 400 reply comes from your Jenkins instance?

[2021-03-18 19:42] winklerm commented on #156
Just wanted to mention that the host header is making trouble with smee.io redirecting to a Jenkins master running in OpenShift (the HTTP response to the redirect is 503). Merging this PR would help us a lot, thank you!

[2021-03-19 06:33] Ginxo commented on #156
@gr2m any idea/update on this?
I would be glad to contribute but I would need a bit of guidance here, can you please provide it?

Thanks,
Kike

[2021-03-23 18:52] rnkhouse opened #163 "Requests are not coming on internal server"
I am using smee URL to trigger push events from bitbucket to Jenkins. Using smee client in Jenkins as sidecar conteiner. Please check below code:

    - name: smee-bitbucket
            image: docker.io/oveits/smee-client:latest
            args: ["--port", "{{ .Values.controller.servicePort }}", "--path", "/bitbucket-scmsource-hook/notify/", "--url", "https://smee.io/<test>"]
            resource

[2021-04-15 10:02] erionsina commented on #158
where exactly do we need to add the proxy line, in which file?

[2021-04-20 12:36] danielsteinmann commented on #158
In file smee-client/index.js:

   const events = new EventSource(this.source, {proxy:'http://
<your-proxy-host>:<your-proxy-port>'});

On Thu, Apr 15, 2021 at 12:03 PM Erion Sina ***@***.***>
wrote:

[2021-05-10 18:55] #149 closed

[2021-05-10 19:20] skjnldsv commented on #157
yep still relevant

[2021-06-09 07:02] ashwita21 opened #168 "Error: connect ECONNREFUSED 127.0.0.1:443"
Error: connect ECONNREFUSED 127.0.0.1:443
    at TCPConnectWrap.afterConnect [as oncomplete] (net.js:1146:16) {
  errno: -61,
  code: 'ECONNREFUSED',
  syscall: 'connect',
  address: '127.0.0.1',
  port: 443,
  response: undefined

Webhook request on github gices me a 200 response. But it has issue with internally forwarding the request to my local app.
This is the command : smee -t https://localh

[2021-06-16 10:21] dhs-rec commented on #157
BTW: Latest version is 1.2.2, bit it hasn't even been tagged/released.

[2021-07-19 17:24] jessicafarias opened #169 "Run in detached mode 🔗"
In order to avoid to keep the terminal open and to have multiple paths listening.
I was wondering if you can implement a -d option to keep run and listening witouth having a terminal open (in detached mode or in the background from terminal).
And also a way to check all running process in smee such as docker does with -d and ps.
where:  d=detach, ps=process status, rm [prcess_id] = remove/stop pro

[2021-07-19 17:32] gr2m commented on #169
I don't quite understand this sentence. Does the daemon crash after receiving the first event?

[2021-07-19 17:54] jessicafarias commented on #169
I tried to create a new file that contains all smee calls that I need.
After following [this tutorial](https://tecadmin.net/run-shell-script-as-systemd-service/) and using this script:
[code]
I notice it upload just the first line and ignores the others:
[code]
 I also try to use ```\``` command after each line and doesn't work.

I guessing this is because the first line keeps listening when it re

[2021-07-19 19:14] kadler commented on #169
Sounds like you have multiple smee listeners. You could use a tool like [nohup](https://linux.die.net/man/1/nohup) to run each in the background in the same shell script (using redirects to save output to different files). Of course, this approach becomes more complicated because now you have to do the child handling in the shell script and if one dies it's not as easy to deal with.

Alternatively

[2021-08-01 09:02] raghavendra89 opened #170 "Not working with local domains"
I've installed the smee client and set up the smee channel. The following command works fine:

`smee --url https://smee.io/my-channel-id --path /github/webhook --port 8000`

It delivers all payloads to `http://127.0.0.1:8000/github/webhook` url properly. But if I use my local domain which I've setup with [Valet](https://laravel.com/docs/8.x/valet), it doesn't work.

Here is my command:
`smee --tar

[2021-08-01 16:37] gr2m commented on #170
the usage looks correct to me ... could you try to find out what's going wrong? Maybe you caught a bug

[2021-08-30 18:16] derekjobst commented on #156
Also seeing this issue. Suggested user revert to 1.1.0 or set the `NODE_TLS_REJECT_UNAUTHORIZED` flag. Looking forward to the fix in #162 :)

[2021-09-03 13:32] DanijelDomazet opened #172 "Client stops working (Event { type: 'error', message: undefined })?"
My smee client is started as a system process, and works OK for some time, a few hours, and then it seems like the process is "ready", but notifications aren't received.

[code]

Could it be that `Sep 03 03:09:02 smee[9587]: Event { type: 'error', message: undefined }` is the problem?

After I restart the service with `sudo /etc/init.d/smee restart`, it starts working again, and the status is:
[co

[2021-09-06 07:40] DanijelDomazet commented on #172
Please note that this repeatedly happens: few hours after smee restart, the event `Event { type: 'error', message: undefined }` happens, and the client stops working. What could confuse it?

[2021-09-06 13:49] DanijelDomazet commented on #172
Can I comehow configure the client to log more info?

[2021-09-06 15:19] gr2m commented on #172
I don't think we have any additional debug logs that could be enabled. I'd recommend to clone the repository to your machine, run

[code]

and

[code]

then the `smee` should point to the local repository. You can add more `console.log()` statements directly into the code, just remember to run `npm run build` to transpile the changes from TypeScript to JavaScript, otherwise they will get ignored.

[2021-09-29 15:30] smartITNinja commented on #69
It works OK with
# npm --version
6.14.12

[2021-10-05 05:43] dhs-rec commented on #163
I see similar behaviour on our Jenkins (not running inside containers, though). It always starts working again after restarting Smee client. Version is 1.2.2.

[2021-10-18 08:41] zhangliwen opened #176 "Error that certificate has expired"
I was using smee for a year but from a last week I'm getting error: Event { type: 'error', message: 'certificate has expired' }
Smee as service is started with commant 'smee -u {new_channel_path}' but I have no idea which certificate has expired. Can someone help me with this issue?

[code]

[2021-11-10 14:14] Nexxpresso opened #178 "Usage of the smee-client raises dependabot security issues."
Dependabot raises a security alert about the Validator version.

You guys have a dependabot pull request in your PRs to raise it to a non vulnerable version. Could you please review it and fix the issue.

[2021-11-15 12:31] benzman81 opened #179 "Client connection stops working if server ip changes"
If server and client are connected and the server changes its ip address (seems to happen in AWS kubernetes quite often), than the client still thinks its connected but does not receive events anymore posted to the server. The connection seems lost. Only restarting the client gets it back to work.

For now, I build a docker image statrting the client with the following script and use it in kuberne

[2021-12-01 14:48] santiagob commented on #172
This might be related to issue #179.

[2021-12-01 14:49] santiagob commented on #163
I think that this might be related to issue #179.

[2021-12-03 09:30] tcbyrd commented on #172
Agreed. In general because of how smee.io is hosted, the server might restart and drop the connection. We intended smee-client to be used more as a development tool, but I think it's really interesting that people are setting it up as a systemd service. I'll follow up in #179 because I think that comment is a solid path forward.

[2021-12-03 09:37] tcbyrd commented on #179
@benzman81 Thanks for the code showing how you got it working! Yeh, the smee server sends a [keep alive signal every 30 seconds](https://github.com/probot/smee.io/blob/ecda7d1f0a31020c8b39bb495b6ae744673af92d/lib/server.js#L78-L80), which is intended to help with keeping the browser connected. I think your solution is basically what we need to do, and maybe add an option to enable a keep-alive int

[2021-12-11 23:57] simensen commented on #170
I'm seeing something similar. It looks like my actual server (http://myapp.test:8000/github/webhook based on the OP example) isn't actually receiving the request from smee-client. smee-client is somehow catching a 404 response from the target, but my server isn't actually being forwarded. I'll include more details if I can figure out exactly what is going on here, but I suspect it might have somet

[2021-12-12 00:07] simensen commented on #170
Oh, hey, this was fast! :) I think I was correct, here. In the case of both Valet and my traefik setup, the idea is to host multiple sites between one endpoint/reverse proxy. So, my setup looks like this:

[code]

I started digging into the logs a little deeper and I can see what's going on here:

[code]

It looks like smee-client is passing on the original host (smee.io) from the URL to the targe

[2021-12-14 13:41] simensen commented on #170
Looks like this is likely related to #162. I'm going to send an alternative patch as I don't know if *deleting* the host header is the correct move here.

[2022-02-24 21:25] JustinBeckwith opened #185 "Doesn't appear to work for discord verification"
Greetings folks!  I'm such a huge fan of using smee for GitHub bot development, that I decided to try using it as a local tunnel to build a Discord bot. I am following along with this blog post:
https://ianmitchell.dev/blog/creating-a-discord-http-slash-command-bot-with-fastify

The official documentation is here:
https://discord.com/developers/docs/interactions/receiving-and-responding#receiving-

[2022-03-08 08:34] dhanar10 opened #187 "Host header smee.io causing Jenkins webhook to fail"
This issue starts happening to me today.

Based on my limited experiment, Jenkins BitBucket PPR webhook will fail with 404 error when it sees "host: smee.io" in request header. Removing the "host: smee.io" in request header works (I use curl to simulate this).

This is weird since smee-client has no changes for so long and the BitBucket PPR webhook plugin is last updated 3 months ago.

Does smee-c

[2022-03-08 22:18] jimjaeger opened #188 "Request to release a new version with updated dependencies"
Hello,

the bot already updated dependencies in the master branch but the latest npm released version is still 1.2.
Could you please release a new version in order to release the new dependencies?

e.g. "validator": 10.11.0 to 13.7.0
🔴 CVE-2021-3765 (CVSS3: 7.5) Severity: (HIGH)
Component: validator-10.11.0 (Transitive)
Dependency path: smee-client-1.2.2 >>> validator-10.11.0
Fix: Upgrade to versi

[2022-03-26 16:17] amarnath552 commented on #187
Hi All,

I am trying to use Smee client to trigged the Job in Jenkins from git webhook. I created the new job in Jenkins and commit any change in the git, I am able to triggered the Job in Jenkins. When I tried to made any change in the git 2nd time, smee getting the response from git but job not triggered in the Jenkins. If removed the 1st build in the Jenkins and commit the changes in git it's w

[2022-03-26 16:17] amarnath552 opened #189 "Hi All,"
Hi All,

I am trying to use Smee client to trigged the Job in Jenkins from git webhook. I created the new job in Jenkins and commit any change in the git, I am able to triggered the Job in Jenkins. When I tried to made any change in the git 2nd time, smee getting the response from git but job not triggered in the Jenkins. If removed the 1st build in the Jenkins and commit the changes in git it's w

[2022-04-26 19:29] CraigCottingham opened #192 "Dependency on superagent needs to be upgraded"
[code]

There is another warning, about a dependency of `superagent`, which has been fixed in `superagent` since 7.0.0:
[code]

[2022-05-03 20:55] #192 closed

[2022-05-03 21:25] tcbyrd commented on #188
[Released as v1.2.3](https://github.com/probot/smee-client/releases/tag/v1.2.3)

[2022-05-03 21:25] #188 closed

[2022-05-03 21:26] tcbyrd commented on #157
Sorry for missing this earlier. Updated with [v1.2.3](https://github.com/probot/smee-client/releases/tag/v1.2.3)

[2022-05-03 21:26] #157 closed

[2022-05-03 21:56] tcbyrd commented on #189
Hey there @amarnath552! I'm afraid the smee maintainers aren't that familiar with the Jenkins side of this. In general this sounds like it may be related to the `github-webhook` handler ignoring the webhook when there's a build in progress? If it were me I'd try to see if I can debug what happens when I send the payload to `/github-webhook` multiple times without Smee, just to rule out if it's Sme

[2022-05-07 02:43] FerLuisxd commented on #136
still relevant 👍 , happened to me today

[2022-05-16 07:29] ojoggerst opened #194 "Proxy support for smee client"
**Problem description**

We would like to use the smee client behind a proxy. Currently, there is no possibility to add a proxy URL to the smee client, so that all outgoing connections would be proxied through a specific server.

**Solution**
1. Use superagent proxy (https://www.npmjs.com/package/superagent-proxy)
2. Use global agent (https://www.npmjs.com/package/global-agent)

Option one needs c

[2022-05-20 16:50] max-carroll-sky opened #196 "Rate limiting means that smee.io a viable solution"
Some webhooks aren't forwarding on, when I checked the logs from the smee-client,

I got a message about 503 due to to many requests to smee.io

Later on the same thing happened in my web browser.

![Screenshot 2022-05-20 at 17 48 23](https://user-images.githubusercontent.com/102040570/169574949-2aec960a-3560-4387-b3de-55f3a20f1fcd.png)

Is there a way I can prevent this from happening?

[2022-05-21 22:52] tcbyrd commented on #196
Thanks for reporting this @max-carroll-sky. I've heard it's been throwing some 503s in the client. Let me see about moving it off Cloudflare, as I think you're right that the "protection" it's adding here causes problems for smee.

[2022-05-23 08:40] max-carroll-sky commented on #196
Thanks for the quick response @tcbyrd and also trying to find a solution!

[2022-05-27 16:08] collinmurd opened #198 "Update eventsource"
Dependency eventsource version 1.1.1 is vulnerable to CVE-2022-1650.
It is fixed in version 2.0.2

[2022-06-03 22:06] tcbyrd commented on #196
This has been updated and is no longer proxying through Cloudflare. LMK if you see any other issues.

[2022-06-03 22:06] #196 closed

[2022-06-08 15:45] max-carroll-sky commented on #196
Thanks very much @tcbyrd , We're about to test this out in the next few weeks, i'll keep you updated!

[2022-06-30 02:19] gorakong opened #200 "HTTP 405 ERROR (server): Method Not Allowed"
Hi!

I'm using smee-client for local development of my probot app. I've been running into a HTTP 405 `Method Not Allowed` error ever since I switched to using an M1 MacBook. I've never had this issue on my Intel Core i7 MacBook. Both are on macOS Monterey, Node 12, source code of the app and all its dependency versions are the same.

Here's the stacktrace:
[code]
I tried logging `res` in `Request.

[2022-08-09 09:20] PaddlePaddle-Gardener opened #202 "How to log data received from smee server"
I forwarded GitHub hook events through the Smee client, but my service's log showed that my service did not receive some events. I want to see if the Smee client received these data, but I did not see valid data in the Smee client log.

How to print the received data in smee client, pleeeeease.

[2022-08-09 18:59] gr2m commented on #202
smee client logs requests using `console.info` by default
https://github.com/probot/smee-client/blob/587e09c6e509d995e210aa92771525639f3d2441/index.ts#L58

[2022-08-10 03:44] Shaun2016 commented on #202
All right, let me edit the code here~

[2022-08-10 03:45] Shaun2016 commented on #202
All right, let me edit the code here~

[2022-08-11 07:07] dhs-rec opened #203 "Feature Request: Allow appending a suffix to the URL"
Currently, the text provided after the Smee token in a request is appended to the path given in the `-P/--path` option. This is working fine for us so far to trigger a Git repository scan in Jenkins using GitLab webhooks. However, the Jenkins Git plugin is changing the rules as newer versions expect an access token to be passed in with the URL, as `&token=theToken`. This would require us to change

[2022-08-15 12:43] dhs-rec commented on #203
OK, by reading the code I found that I can simply add my own query to the path given with `-P/--path`, like
[code]
However, it would be nice to have this properly documented somewhere.

[2022-09-10 22:04] oscard0m opened #214 "What's the release system for `smee-client`?"
I'm waiting for a new release of `smee-client` with the latest bump of some internal packages but seems to not be automatic.

What's the process? Why not use Semantic Releases with a Workflow as [it is done in `probot/probot`](https://github.com/probot/probot/blob/master/.github/workflows/release.yml)?

I would be happy to help in setting up an automated process for it.

_Originally posted by @osc

[2022-09-10 22:20] gr2m commented on #214
Is this blocking you? I could probably get the NPM_TOKEN, do you want to setup the semantic-release workflow? If there are no objections for anyone else, I'd say let's just go ahead and do it

[2022-09-10 22:26] oscard0m commented on #214
Nothing critical but some outdated dependencies are conflicting with others, yep.

I will try to allocate some time tomorrow or during next week :)

[2022-10-18 10:10] Ginxo opened #223 "commander parser is not working with latest changes from master branch"
Caused by https://github.com/probot/smee-client/commit/4a6c23f85dd5b5872f7e6f3f9982d2f8c772c412
fixed by https://github.com/probot/smee-client/pull/222

see
[code]
wrong source and target values

[2022-10-26 09:33] kamimanzoor opened #225 "smee is down throwing 502"
[smee](smee.io) is down and throwing 502 as shown in the attached screenshot.
![image](https://user-images.githubusercontent.com/16157737/197991189-a4d9c42a-febf-4c90-9749-fe5e4d8a0965.png)

Would greatly appreciate if you look into it soon. Thanks in advance :)

[2022-11-16 10:21] RobMeades opened #226 "Is there an issue with Jenkins integration (it doesn't believe the webhook is working)"
I hesitate to ask this here, because the SMEE bits all seem to be working, but I am getting no responses elsewhere...

We're running Jenkins behind a firewall to public github.com using a SMEE client to provide the necessary proxy.  However in our Jenkins [version 2.361.4-jdk11] configuration page, the Github plugin flatly refuses to save the Override Webhook URL `https://smee.io/blah` (where `bla

[2022-11-16 16:20] ubxlib commented on #226
S'OK, it appears that the GUI of the Jenkins Github plugin is broken, it never saves what you type into the Override Hook URL box.  It has been broken since September 2020.  If you have a Jenkins Jira account you can [see the pain](https://issues.jenkins.io/browse/JENKINS-60738).

In case anyone else comes across this, the accepted workaround is to manually edit the Jenkins `github-plugin-configur

[2022-11-16 19:14] cortexcompiler commented on #153
I would guess it might not like the `host` header, especially if going through API Gateway.

[2022-11-16 19:19] cortexcompiler commented on #136
I worked around this by adding a `delete data['content-length']` to the client code:

- https://github.com/probot/smee-client/blob/master/index.ts#L48

This prevents the "content-length" header from being set and `superagent` or something in the stack seems to figure out fine.  For me, I noticed the length is one shorter than was passed from the event stream.

I will say that a verbose or debug lo

[2022-11-29 17:16] martina-if opened #227 "Cannot GET /abc123/api error"
Hi,

I am trying to test smee for delivering GH webhook events to my localhost server but I keep getting error pages like this:

[code]

GH says it's unable to deliver the events and when I try curling it myself I get that error page from above.

I guess I am doing something obviously wrong but I can't find what. What it looks like is that smee client can't really connect to the channel?

This is

[2022-11-30 03:44] dhirschfeld commented on #27
Are there any plans to add this functionality? Unfortunately, I won't be able to make use of this service without it :(